body {
    background-color: #ddd;
    color: #999;
    font-family: 'Fjalla One', sans-serif;
    color: #333;
    font-size: 1.1em;
    line-height: 1.5;
}

a:link, a:visited {
    color: #666;
}

a:hover, a:active {
    color: #0288d1;
}

header {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    height: 50px;
    background-color: #ddd;
    margin-bottom: 20px;
    padding-top: 5px;
    border-bottom: 1px solid #999;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header h3 {
    font-size: 2em;
    color: #333;
}

header div {
    width: 86px;
}

header #restart {
    cursor: pointer;
}

#GameGrid {
    max-width: 1020px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    perspective: 1700px;
    -webkit-tap-highlight-color: transparent;
}

.card {
    box-sizing: border-box;
    margin: 1%;
    flex: 0 1 14%;
    height: 0;
    padding-bottom: 14%;
    position: relative;
    transform-style: preserve-3d;
}

.cardface {
    width: 100%;
    height: 100%;
    border: 1px solid #777;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.front {
    z-index: 2;
    background: repeating-linear-gradient(-45deg,
        #03a9f4,
        #03a9f4 10px,
        #0288d1 10px,
        #0288d1 20px);
}

.back {
    z-index: 1;
    transform: rotateY(-180deg);
    background-image: url(../assets/banana.svg);
    background-color: white;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.selected .front {
    z-index: 1;
    transform: rotateY(180deg);
}

.selected .back {
    z-index: 2;
    transform: rotateY(0deg);
}

.matched .front {
    display: none;
}

.matched .back {
    transform: rotateY(0deg);
    animation: matchSignal 1s;
}

@keyframes matchSignal {
    0%, 100% {
        background-color: white;
    }

    50% {
        background-color: #96CD82;
    }
}

footer div {
    color: #666;
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
}

footer br {
    display: none;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    header h3 {
        font-size: 1.5em;
    }
    .card {
        flex: 0 1 17%;
        padding-bottom: 17%;
    }
    footer br {
        display: block;
    }
}
