body {
    background-color: #ddd;
    color: #999;
    font-family: 'Fjalla One', sans-serif;
    color: #333;
    font-size: 1.1em;
}

a:link, a:visited {
    color: #333;
    font-family: 'Fjalla One', sans-serif;
}

a:hover, a:active {
    color: #0288d1;
}

header {
    box-sizing: border-box;
    height: 50px;
    background-color: #ddd;
    margin-bottom: 20px;
    padding-top: 8px;
    text-align: center;
    border-bottom: 1px solid #999;
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    color: #333;
}

#GameGrid {
    max-width: 1020px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    perspective: 1700px;
}

.card {
    box-sizing: border-box;
    margin: 10px;
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
}

.cardface {
    width: 100%;
    height: 100%;
    border: 1px solid #777;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.front {
    z-index: 2;
    background: repeating-linear-gradient(-45deg,
        #03a9f4,
        #03a9f4 10px,
        #0288d1 10px,
        #0288d1 20px);
}

.back {
    z-index: 1;
    transform: rotateY(-180deg);
    background-image: url(../assets/banana.svg);
    background-color: white;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.selected .front {
    z-index: 1;
    transform: rotateY(180deg);
}

.selected .back {
    z-index: 2;
    transform: rotateY(0deg);
}

.matched .front {
    display: none;
}

.matched .back {
    transform: rotateY(0deg);
}

footer div {
    margin-top: 20px;
    text-align: center;
}
